/* table {
    overflow-x: auto;
    display: inline-block;
} */
.unlockBTN{
    background: linear-gradient(98.76deg, rgb(56, 195, 207) 0%, rgb(135, 103, 211) 100%) !important;
/* background-size: cover; */
}
@media screen and (max-width: 800px) {
    table {
        overflow-x: auto;
        display: inline-block;
    }

    .table {

        height: auto !important;


    }
}

@media (min-width:600px) and (max-width: 800px) {
  

    .table {

        height: 15rem !important;


    }
}

th{
    color: white !important;
    font-family: 'Exo 2', sans-serif;

}